{% extends 'bolt/base.html' %}
{% load static %}


{% block title_block %}
    About Bolt
{% endblock %}

{% block body_block %}
    <h1>BOLT says...</h1>
    <div>
        Here is the about page!<br />
        This aim of Bolt is to raise awareness of dogs,<br />
        cats and other pets in need of rescue by providing one site where any pets in need can be found.<br />
        Thousands of pets are homeless every year for various reasons. <br />
        This website will be cooperate with pets shelter so as to<br />
        provide timely information about rescue pets to the public.<br />
        <br />
        Users will be able to browse pets information lists through based on different shelters. <br />
        They will be able to browse the pet’s details page to get more information about the pet. <br />
        If users would like to adopt this pet, they can submit their request to manager. <br />
        And manager will review their request.<br />
        <br />
        <p>Visits: {{ visits }}</p>
    </div>
{% endblock %}
