<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>BOLT</title>
    </head>

    <body>
        <h1>BOLT says...</h1>
        <div>
            <strong>{{ boldmessage }}</strong>
        </div>
        <div>
            {% if shelters %}
                <ul>
                    {% for shelter in shelters %}
                        <li><a href="/bolt/shelter/{{ shelter.slug }}/">{{ shelter.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no shelters available at the momemt!</strong>
            {% endif %}
        </div>
        <div>
            <a href="/bolt/add_shelter/">Add a new shelter</a>
            <img src="{% static 'images/bolt.jpeg' %}"
                 alt="Picture of bolt"/>
        </div>
    </body>
</html>