{% extends 'bolt/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>BOLT says...</h1>
    <div>
        <strong>{{ boldmessage }}</strong>
    </div>
    <div>
        {% if shelters %}
            <ul>
                {% for shelter in shelters %}
                    <li><a href="{% url 'bolt:show_shelter' shelter.slug %}">{{ shelter.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no shelters available at the momemt!</strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static 'images/bolt.jpeg' %}"
                alt="Picture of bolt"/>
    </div>
{% endblock %}