{% extends 'bolt/base.html' %} 
{% load static %} 
{% block title_block %} 
My account 
{% endblock %} 


{% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-9">
  <h1>My information</h1>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Username: </td>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Email: </td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>First name: </td>
          <td>{{userprofile.first_name}}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Last name: </td>
          <td>{{userprofile.last_name}}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Contact number: </td>
          <td>{{userprofile.contact_number}}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Address: </td>
          <td>{{userprofile.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-9">
        {% if is_caretaker %}
        <h3>Your pending requests for {{ shelter }}:</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">User</th>
              <th scope="col">Animal</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            {% for request in requests %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{request.user}}</td>
              <td>{{request.animal}}</td>
              <td>
                <a href="{% url 'bolt:adoption_request_accept' request.pk%}" class="btn btn-sm btn-outline-secondary">Accept</a>
                <a href="{% url 'bolt:adoption_request_reject' request.pk%}" class="btn btn-sm btn-outline-secondary">Reject</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      </div>
    </div>
    

    <div class="row">
      <div class="col-9">
        {% if animals %}
        <h3>Your animals</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Kind</th>
              <th scope="col">Adoption Date</th>
            </tr>
          </thead>
          <tbody>
            {% for animal in animals %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{animal.name}}</td>
              <td>{{animal.kind}}</td>
              <td>
                {{animal.adoption_date}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
    </div>
{% endblock %}
